*{
    box-sizing: border-box;
}
.form{
    width: 370px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    padding: 10px 35px 40px 35px;
    margin-bottom: 20px;
}

